h1{
    color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.ion-padding{
    background-color:plum;
}

ion-icon {
    color:mediumblue
}
ion-card{
    color:white;
}

ion-toolbar{
    --background: var(--ion-color-secondary);
}