<ion-header>
  <ion-toolbar>
    <ion-buttons slot = "start"  style="color:white;">
      <ion-back-button defaultHref = "/exercises"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:white">CALVES EXERCISES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>

      <ion-row>
        <ion-col>
          <h1 style="color: darkblue"><b>1.Seated Calf Raise</b></h1>
          <img src="https://cdn.shopify.com/s/files/1/0269/5551/3900/files/Seated-Calf-Raise_8c8641b2-10f2-4dc8-9adb-8d80fd1a16d0_600x600.png?v=1612137064" class="center">
          <h3 style="color:mediumvioletred">Equipment required: dumbbells, kettlebells</h3>
          <ol>
            <li>
              Sitting up tall in your chair, with your feet hip width apart.
            </li>
            <br/>
            <li>
              Bring your feet back, so your heels are behind your knees.
            </li>
            <br/>
            <li>
              From this position, lifting your heels up off the floor, coming up on to your toes.
            </li>
            <br/>
            <li>
              Hold briefly and gently lower your heels back down. 
            </li>
            <br/>
            <li>
              Repeat for the set repetitions. 
            </li>
          </ol>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h1 style="color: darkblue"><b>2.Standing Calf Raise </b></h1>
          <img src="https://cdn.shopify.com/s/files/1/0269/5551/3900/files/Standing-Calf-Raise_61746b47-98aa-49ee-bb97-5a19562592b9_600x600.png?v=1612137090" class="center">
          <h3 style="color:mediumvioletred">Equipment required: dumbbells, kettlebells</h3>
          <ol>
            <li>
              Stand with your feet flat on the floor, hip-width apart, and toes facing forward. If needed, use the wall or the back of a chair for balance.
            </li>
            <br/>
            <li>
              Rise onto the balls of your feet, as high as you can. Give your calf muscles an extra squeeze at the top.
            </li>
            <br/>
            <li>
              Jump back until your legs are fully extended and your body is in plank position.
           </li>
            <br/>
            <li>
              Pause, then lower your heels back down in a slow, controlled motion. (When you go too fast, your Achilles tendon does more work than your calf muscles.)
            </li>  
           <br/>
           <li>
            Repeat as desired, maintaining that slow tempo.
          </li>
          </ol>
        </ion-col>
      </ion-row>

    </ion-grid>

</ion-content>