<ion-app>

  <ion-menu side="start"  contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon name="person-circle" slot="start"  style="color:dodgerblue;"></ion-icon>
            <ion-label><b>My profile</b></ion-label>
        </ion-item>
        <ion-menu-toggle>
          <ion-item routerLink = "/fit-meals">
            <ion-icon name="fast-food-outline" slot="start"  style="color:deeppink;"></ion-icon>
            <ion-label><b>Fit meals</b></ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/exercises">
            <ion-icon name="barbell-outline" slot="start"  style="color:green"></ion-icon>
            <ion-label><b>Excercises</b></ion-label>
          </ion-item>
        </ion-menu-toggle>
        
        <ion-menu-toggle>
        <ion-item routerLink="/log-in">
          <ion-icon name="log-out-outline" slot="start"  style="color:red;"></ion-icon>
          <ion-label><b>Log out</b></ion-label>
        </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>


</ion-app>
