ion-content{
    --background-color:linear-gradient(to ring , #b91d73, #f953c6);
}

.content_div{
    background:white;
    width: 100%;
    border-top-right-radius: 75px;
    margin-top: -90px;
    padding-top: 30px;

    .hello_lbl{
        font-weight: 600;
        font-size: 30px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-bottom: 10px;
        padding-left: 130px;
        margin-top: 10px;
    }

    ion-grid{
        padding:0px; 
    }
    .col_div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 150px;
        box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
        border-radius: 5px;

        img{
            width: 100px;
        }
        ion-label{
            color:black;
            margin-top: 5px;
        }
    }
}

.animated{
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounceInUp{
    0%{
        opacity: 0;
        -webkit-transform:translateY(2000px);
    }
    60%{
        opacity: 1;
        -webkit-transform:translateY(100px);
    }
    80%{
       
        -webkit-transform:translateY(10px);
    }
    100%{
        
        -webkit-transform:translateY(0);
    }
}

.bounceInUp{
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
}

@keyframes bounceInUp{
    0%{
        opacity: 0;
        -webkit-transform:translateY(400px);
    }
    60%{
        opacity: 1;
        -webkit-transform:translateY(100px);
    }
    80%{
       
        -webkit-transform:translateY(100px);
    }
    100%{
        -webkit-transform:translateY(100px);
    }
}




