<ion-header>
  <ion-toolbar>
    <ion-buttons slot = "start"  style="color:white;">
      <ion-back-button defaultHref = "/exercises"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:white">SHOULDERS EXERCISES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>

      <ion-row>
        <ion-col>
          <h1><b>1.Barbell Overhead Shoulder Press</b></h1>
          <img src="https://cdn.shopify.com/s/files/1/0269/5551/3900/files/Standing-Barbell-Shoulder-Press_600x600.png?v=1619977694" class="center">
          <h3 style="color:mediumvioletred">Equipment required:barbell</h3>
          <ol>
            <li>
              Put your feet at shoulder-width, and engage your core and glutes as you hold a barbell at your shoulders, palms facing forward.
            </li>
            <br/>
            <li>
              Next, push the bar upward and squeeze your shoulder blades together at the peak.
            </li>
            <br/>
            <li>
              Lower steadily and carefully.
            </li>
            <br/>
            <li>
              At no point should your lower back arch — keep your core engaged to stop this happening.
            </li>
          </ol>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h1><b>2.Front Raise</b></h1>
          <img src="https://cdn.shopify.com/s/files/1/0269/5551/3900/files/Dumbbell-Front-Raise_11804c3c-22d1-4589-a035-e30ad72149f3_600x600.png?v=1612138576" class="center">
          <h3 style="color:mediumvioletred">Equipment required: weight plate or barbell</h3>
          <ol>
            <li>
              Keep your hands at hip height as you hold the weight in front of you.
            </li>
            <br/>
            <li>
              Your feet should be even with your shoulders and your core should be tight.
            </li>
            <br/>
            <li>
              Next, retract your shoulder blades and keep your arms straight as you lift the weight to shoulder level.
            </li>
            <br/>
            <li>
              Breathe steadily and lower the weight carefully.
            </li>
            <br/>
            <li>
              Repeat
            </li>
          </ol>
        </ion-col>
      </ion-row>

     <ion-row>
      <ion-col>
        <h1><b>3.Dumbbell Lateral Raise</b></h1>
          <img src="https://cdn.shopify.com/s/files/1/0269/5551/3900/files/Dumbbell-Lateral-Raise_31c81eee-81c4-4ffe-890d-ee13dd5bbf20_600x600.png?v=1612138523" class="center">
          <h3 style="color:mediumvioletred">Equipment required: dumbbell</h3>
          <ol>
            <li>
              Start in the standing position, keeping your feet shoulder-width apart, your abs tight, your chest up, your head straight, and your shoulders pinched. Hold the dumbbells at either side, retaining a neutral grip.
            </li>
            <br/>
            <li>
              Now, here comes the hard part. Using just your shoulders and arms, raise the dumbbells a notch above shoulder level.
            </li>
            <br/>
            <li>
              Hold for a moment.
            </li>
            <br/>
            <li>
              Lower the dumbbells back to the starting position — with control. Don’t let them just drop to your sides.
            </li>
            <br/>
            <li>
              Repeat
            </li>
          </ol>
      </ion-col>
     </ion-row>
    </ion-grid>

</ion-content>