<ion-header>
  <ion-toolbar>
      <ion-buttons slot = "start" style="color:white">
        <ion-back-button defaultHref = "/fit-meals"></ion-back-button>
      </ion-buttons>
    <ion-title style="color:white">Exercises</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <br/>
<div class="title">
  <ion-title><b>CHOOSE BODY PART</b></ion-title>
</div>

<ion-grid>
  <ion-row size="6" position="center">
    <ion-col>
      <ion-button size="large" expand="block" color="tertiary" (click)="openChest()">Chest</ion-button>
    </ion-col>
  </ion-row>

  <ion-row size="6" position="center">
    <ion-col>
      <ion-button  size="large" expand="block" color="tertiary" (click)="openBack()">Back</ion-button> 
    </ion-col>
  </ion-row>
    
  <ion-row size="6" position="center">
    <ion-col>
      <ion-button  size="large" expand="block" color="tertiary" (click)="openArms()">Arms</ion-button>
    </ion-col>
  </ion-row>

  <ion-row size="6" position="center">
    <ion-col>
       <ion-button  size="large" expand="block" color="tertiary" (click)="openShoulders()">Shoulders</ion-button>
    </ion-col>
      </ion-row>
   
   <ion-row size="6" position="center">
    <ion-col>
      <ion-button  size="large" expand="block" color="tertiary" (click)="openAbs()">Abs</ion-button>
    </ion-col>
   </ion-row>
    
   <ion-row size="6" position="center">
    <ion-col>
      <ion-button  size="large" expand="block" color="tertiary" (click)="openLegs()">Legs</ion-button>
    </ion-col>
   </ion-row>
    
   <ion-row size="6" position="center">
    <ion-col>
      <ion-button  size="large" expand="block" color="tertiary" (click)="openCalves()">Calves</ion-button>
    </ion-col>
   </ion-row>
  
</ion-grid>

</ion-content>
