<ion-header>
  <ion-toolbar>
    <ion-buttons slot = "start"  style="color:white;">
      <ion-back-button defaultHref = "/exercises"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:white">LEGS EXERCISES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>

      <ion-row>
        <ion-col>
          <h1 style="color: darkblue"><b>1.Lunge</b></h1>
          <img src="https://cdn.shopify.com/s/files/1/0269/5551/3900/files/Lunge_600x600.png?v=1612138903" class="center">
          <h3 style="color:mediumvioletred">Equipment required: dumbbell</h3>
          <ol>
            <li>
              Stand tall with feet hip-width apart. Engage your core.
            </li>
            <br/>
            <li>
             Take a big step forward with right leg. Start to shift your weight forward so heel hits the floor first.
            </li>
            <br/>
            <li>
            Lower your body until right thigh is parallel to the floor and right shin is vertical. It’s OK if knee shifts forward a little as long as it doesn’t go past right toe. If mobility allows, lightly tap left knee to the floor while keeping weight in right heel.
            </li>
            <br/>
            <li>
             Press into right heel to drive back up to starting position.
            </li>
            <br/>
            <li>
            Repeat on the other side.
            </li>
          </ol>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h1 style="color: darkblue"><b>2.Burpees </b></h1>
          <img src="https://cdn.shopify.com/s/files/1/0269/5551/3900/files/Burpees_600x600.png?v=1640121232" class="center">
          <h3 style="color:mediumvioletred">Equipment required: none</h3>
          <ol>
            <li>
              Stand straight with your feet shoulder-width apart.
            </li>
            <br/>
            <li>
              Squat and place your hands in front of your feet.
           </li>
            <br/>
            <li>
              Jump back until your legs are fully extended and your body is in plank position.
           </li>
            <br/>
            <li>
             Do a push up, jump forward, and then push through the heels to return to the starting position.
           </li>  
           <br/>
           <li>
             Repeat until the set is complete.
           </li>
          </ol>
        </ion-col>
      </ion-row>

     <ion-row>
      <ion-col>
        <h1 style="color: darkblue"><b>3.Front Squat</b></h1>
          <img src="https://cdn.shopify.com/s/files/1/0269/5551/3900/files/Front-Squat_600x600.png?v=1612049397" class="center">
          <h3 style="color:mediumvioletred">Equipment required: bar</h3>
          <ol>
            <li>
             Perform this exercise inside a squat rack for safety reasons. Set the bar on a rack corresponds to your height. Bring your arms up under the bar; keep your arms up under the bar and your upper arm slightly above parallel to the floor. Rest the bar on top of your deltoids and cross your arms. Grasp the bar for control.
            </li>
            <br/>
            <li>
             Lift the bar off the rack by pushing with your legs and straightening your torso.
            </li>
            <br/>
            <li>
            Step back from the rack and place your legs shoulder width apart with your toes slightly pointed out. Keep your back straight. This is the starting position for the exercise.
            </li>
            <br/>
            <li>
             Lower the bar slowly until the angle between your upper legs and calves is slightly less than 90 degrees. Your upper legs should be parallel with the floor. Inhale as you do so.
            </li>
            <br/>
            <li>
             Raise the bar by pushing the middle of your foot against the floor. Straighten your legs and go back to the starting position. Exhale as you do so.
            </li>
            <br/>
            <li>
             Repeat for the desired number of reps.
            </li>
          </ol>
      </ion-col>
     </ion-row>
    </ion-grid>

</ion-content>