<ion-item>
  <ion-item [routerLink]="['/','fit-meals','tabs','explore',fitmeal.id]">
    <ion-avatar slot="start">
      <ion-img [src]="fitmeal.imageUrl">
      </ion-img>
    </ion-avatar>
    <ion-label>{{fitmeal.title}}</ion-label>
  </ion-item>
  
  <ion-icon [name]="buttonIcon" color="primary" slot="end"  (click)="openAlert()"></ion-icon>
  <ion-icon name="create-outline" color="primary" slot="end" (click)="openModal3()"></ion-icon>
  <ion-icon name="trash-outline" color="primary" slot="end" (click)="openAlert2()"></ion-icon>
</ion-item>





