<ion-header>
  <ion-toolbar>

    <ion-buttons slot = "start"  style="color:white;">
      <ion-back-button defaultHref = "/fit-meals/tabs/explore"></ion-back-button>
    </ion-buttons>

    <ion-title  style="color:white;">About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

   <ion-card class="ion-padding">
    <img [src]="fitmeal.imageUrl">
    <ion-card-header>
      <ion-card-title>{{fitmeal.title}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{fitmeal.text}}
      {{fitmeal.protein}}
    </ion-card-content>

   </ion-card>


</ion-content>
