<ion-header>
  <ion-toolbar>

    <ion-buttons slot = "start"  style="color:white;">
      <ion-back-button defaultHref = "/fit-meals/tabs/explore"></ion-back-button>
    </ion-buttons>

    <ion-title  style="color:white;">About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

   <ion-card class="ion-padding">
    <img [src]="fitmeal.imageUrl">
    <ion-card-header>
      <ion-card-title style="color:navy; text-align: center;"><b>{{fitmeal.title}}</b></ion-card-title>
    </ion-card-header>

    <ion-card-content style="color:navy">
      {{fitmeal.text}}
      <br/>
      <br/>
      <b>Ingredients:</b>
      <ul>
        <li>
          {{fitmeal.ingredients}}
        </li>
      </ul>
      <br/>
     <b>Protein: {{fitmeal.protein}}</b>
    </ion-card-content>

   </ion-card>


</ion-content>
