<ion-header>
  <ion-toolbar>
    <ion-buttons slot = "start"  style="color:white;">
      <ion-back-button defaultHref = "/exercises"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:white">ARMS EXERCISES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>

      <ion-row>
        <ion-col>
          <h1 style="color: darkblue"><b>1.Straight Bar Low Pulley Cable Curl</b></h1>
          <img src="https://cdn.shopify.com/s/files/1/0269/5551/3900/files/Straight-Bar-Low-Pulley-Cable-Curl_600x600.png?v=1619978455" class="center">
          <h3 style="color:mediumvioletred">Equipment required: straight-bar attachment, and a (low) cable pulley apparatus.</h3>
          <ol>
            <li>
              Use a shoulder-width, underhand grip.
            </li>
            <br/>
            <li>
              Take a step back from the pulley before initiating the first rep.
            </li>
            <br/>
            <li>
              Keep the elbows pinned in place, slightly in front of the body.
            </li>
            <br/>
            <li>
              Squeeze the biceps hard at the end range before slowly lowering back to the starting position.
            </li>
          </ol>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h1 style="color: darkblue"><b>2.Incline dumbbell curl</b></h1>
          <img src="https://cdn.shopify.com/s/files/1/0269/5551/3900/files/Incline-Dumbbell-Curl_7debf468-cd34-49bc-8933-7f4b087e6cca_600x600.png?v=1612137309" class="center">
          <h3 style="color:mediumvioletred">Equipment required: a set of dumbbells and a workout bench.</h3>
          <ol>
            <li>
              Sit down against the workout bench, keeping your back straight and your abdominal muscles tight. Your weights should be at your sides to start, one in each hand.
            </li>
            <br/>
            <li>
              When you’ve gotten the starting position down, lift each dumbbell, palms up, toward your shoulders. It’s important to keep your upper arms tight so that you can isolate the biceps brachii muscle as you move your lower arms only.
            </li>
            <br/>
            <li>
              Slowly lower the dumbbells back down to your starting position. Don’t release the weights too fast or you could strain your muscles. This should be a controlled movement.
            </li>
            <br/>
            <li>
              Repeat the movement up to 15 times for 3 sets.
            </li>
          </ol>
        </ion-col>
      </ion-row>

     <ion-row>
      <ion-col>
        <h1 style="color: darkblue"><b>3.Hammer Curl</b></h1>
          <img src="https://cdn.shopify.com/s/files/1/0269/5551/3900/files/Hammer-Curl_da9fea8b-fc81-4a4f-9af1-aea1b85239d7_600x600.png?v=1612137282" class="center">
          <h3 style="color:mediumvioletred">Equipment required: dumbbell</h3>
          <ol>
            <li>
              Stand up straight with your torso upright. Hold a dumbbell in each hand at arms-length. Your elbows should be close to your torso.            </li>
            <br/>
            <li>
              The palms of your hands should be facing your torso. This is the starting position for the exercise.
            </li>
            <br/>
            <li>
              Curl the weight forward while contracting your biceps. Your upper arm should remain stationary. Continue to lift the weight until your biceps are fully contracted and the dumbbell is at shoulder level. Hold the contraction for a moment as you squeeze your biceps.
            </li>
            <br/>
            <li>
             Inhale and slowly start to bring the dumbbells back to the starting position.
            </li>
            <br/>
            <li>
             Repeat for the desired number of reps.
            </li>
          </ol>
      </ion-col>
     </ion-row>
    </ion-grid>

</ion-content>