<ion-header>
  <ion-toolbar>
    <ion-buttons slot = "start"  style="color:white;">
      <ion-back-button defaultHref = "/exercises"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:white">ABS EXERCISES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>

      <ion-row>
        <ion-col>
          <h1 style="color: darkblue"><b>1.Crunch</b></h1>
          <img src="https://cdn.shopify.com/s/files/1/0269/5551/3900/files/Crunch_f3498d5d-82d9-4a7f-8dee-98a2e55a62f2_600x600.png?v=1612138317" class="center">
          <h3 style="color:mediumvioletred">Equipment required: none</h3>
          <ol>
            <li>
              Lie down on your back. Plant your feet on the floor, hip-width apart. Bend your knees and place your arms across your chest. Contract your abs and inhale.
            </li>
            <br/>
            <li>
              Exhale and lift your upper body, keeping your head and neck relaxed.
            </li>
            <br/>
            <li>
              Inhale and return to the starting position.
            </li>
          </ol>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h1 style="color: darkblue"><b>2.Plank</b></h1>
          <img src="https://cdn.shopify.com/s/files/1/0269/5551/3900/files/Plank_3a82d566-9cb2-4c20-b301-bc8bd635c4d1_600x600.png?v=1612138431" class="center">
          <h3 style="color:mediumvioletred">Equipment required: none</h3>
          <ol>
            <li>
              Assume a push-up position but bend your arms at your elbows so your weight rests on your forearms.
            </li>
            <br/>
            <li>
              Tighten your abs, clench your glutes and keep your body straight from head to heels.
            </li>
            <br/>
            <li>
              Hold as long as you can.
            </li>
          </ol>
        </ion-col>
      </ion-row>

     <ion-row>
      <ion-col>
        <h1 style="color: darkblue"><b>3.Hanging Leg Raise</b></h1>
          <img src="https://cdn.shopify.com/s/files/1/0269/5551/3900/files/Hanging-Leg-Raise_36986393-d0a6-494a-981f-4ea06a99b0b5_600x600.png?v=1612138457" class="center">
          <h3 style="color:mediumvioletred">Equipment required: none</h3>
          <ol>
            <li>
              Exhale as you lift your feet off the ground, raising your straight legs outward in front of you. Tilt your pelvis slightly back and engage your abdominals and hip flexors to assist with the movement.            <br/>
            <li>
              Raise your legs to a level that feels challenging but still enables you to keep good form. Strive to get them parallel to the ground (so that your hips are bent at 90 degrees), or a little higher if you can.
            </li>
            <br/>
            <li>
              Lower your legs back down slowly until they return to the starting position, inhaling during this portion of the exercise. Maintain your posterior pelvic tilt, even at the bottom of the movement.
            </li>
          </ol>
      </ion-col>
     </ion-row>
    </ion-grid>

</ion-content>