<ion-header>
  <ion-toolbar>
    <ion-buttons slot = "start"  style="color:white;">
      <ion-back-button defaultHref = "/health-hacks"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:white">Healthy Eating</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-grid>

    <ion-row>
      <ion-col>
        <h1 style="color: black"><b>Tips for healthy eating in the real world</b></h1>
        <br/>
        <br/>
        <br/>
        <img src="https://cdn2.vectorstock.com/i/1000x1000/75/61/healthy-eating-pyramid-poster-vector-9727561.jpg" class="center">
        <br/>
        <br/>
        <br/>
        <br/>
        <ion-icon name="arrow-forward-sharp"></ion-icon> <b>Prioritize plant-based foods.</b> Plant foods like veggies, fruits, beans, and nuts should make up the majority of your diet. Try incorporating these foods, especially veggies and fruits, at every meal and snack. 
          <br/>    
          <br/> 
          <ion-icon name="arrow-forward-sharp"></ion-icon> <b>Cook at home.</b>  Cooking meals at home helps diversify your diet. If you’re used to takeout or restaurant meals, try cooking just one or two meals per week to start.    
          <br/> 
          <br/>          
          <ion-icon name="arrow-forward-sharp"></ion-icon> <b> Shop for groceries regularly.</b> If your kitchen is stocked with healthy foods, you’re more likely to make healthy meals and snacks. Go on one or two grocery runs per week to keep nutritious ingredients on hand.       
          <br/>
          <br/>          
          <ion-icon name="arrow-forward-sharp"></ion-icon> <b> Understand that your diet isn’t going to be perfect.</b> Progress — not perfection — is key. Meet yourself where you are. If you’re currently eating out every night, cooking one homemade, veggie-packed meal per week is significant progress.
          <br/>     
          <br/>    
          <ion-icon name="arrow-forward-sharp"></ion-icon> <b>“Cheat days” aren’t acceptable.</b> If your current diet includes “cheat days” or “cheat meals,” this is a sign that your diet is unbalanced. Once you learn that all foods can be a part of a healthy diet, there’s no need for cheating.
          <br/>
          <br/> 
          <ion-icon name="arrow-forward-sharp"></ion-icon> <b> Choose filling foods.</b>When you’re hungry, your goal should be to eat filling, nutritious foods, not to eat as few calories as possible. Pick protein- and fiber-rich meals and snacks that are sure to fill you up.
           <br/>
           <br/> 
           <ion-icon name="arrow-forward-sharp"></ion-icon> <b>Eat whole foods. </b>A healthy eating pattern should be primarily composed of whole foods like vegetables, fruits, beans, nuts, seeds, whole grains, and protein sources like eggs and fish.
           <br/>
           <br/> 
           <ion-icon name="arrow-forward-sharp"></ion-icon> <b>Hydrate the smart way.</b> Staying hydrated is part of healthy eating, and water is the best way to stay hydrated. If you’re not used to drinking water, get a reusable water bottle and add fruit slices or a squeeze of lemon for flavor.  
      
      </ion-col>
    </ion-row>

  
  </ion-grid>

</ion-content>
